.online-dot {
    height: 10px;
    width: 10px;
    background-color: #23d160;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}